.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-size: cover;
  padding: 100px 80px 215px;
  color: #ffffff;
}
.recipes__title {
  margin: 0;
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin-top: 24px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__iframe {
  border: 0;
}

.recipes__video-caption {
  margin-top: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}
